body {
    overflow: hidden;
    place-items: center;
    font-size: 1.7rem;
    line-height: 3rem;
    color: #6e6e6e;
}

#intro {
    background: #151515 url(/imgs/Dark-space-wallpaper-1920x1200.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.intro-content h1 {
    color: #FFFFFF;
    font-family: 'StarWars';
    font-size: 4.9rem;
    max-width: 900px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.intro-content h5 {
    color: #ce0707;
    font-family: 'StarWars';
    font-size: 2.3rem;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro-content .intro-position {
    font-family: 'StarWars';
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}



.intro-content .button {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.3);
    height: 6rem;
    line-height: 5.4rem;
    padding: 0 3.5rem 0 3rem;
    margin-top: .6rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.coluna_Inicial {
    width: 100%;
    margin-top: 25%;
}

.a {
    display: flex;
    margin-top: 10%;
    margin-left: 38%;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    justify-content: center;
    color: azure;
    font-family: 'StarWars';
    width: 190px;
    height: 40px;
    align-items: center;
    align-content: center;
}


section {
    min-height: 100%;
    display: flex;

}

.intro-social {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 7.2rem;
    font-size: 3.3rem;
    margin: 0;
    padding: 0;
}

.intro-social li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}

.intro-social li a,
.intro-social li a:visited {
    color: #FFFFFF;
}

.intro-social li a:hover,
.intro-social li a:focus {
    color: #ce0707;
}

.intro-social {
    font-size: 2.4rem;
}

/* Quebra Linha*/
.break {
    flex-basis: 100%;
    height: 0;
}

/* Section Sobre Eu*/
.sobre {
    width: 100%;
    height: 100%;
    color: #000;
    justify-content: center;
}

.area_secao_sobre {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.mini_sobre {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
}

.mini_sobre2 {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.mini_sobre h5 {
    font-size: 17px;
    letter-spacing: .3rem;
    color: #ce0707;
    font-family: "poppins-bold", sans-serif;
}

.mini_sobre2 h4 {
    color: black;
    font-family: "poppins-bold", sans-serif;
    font-size: 35px;
}

.informações {
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
    top: -5%;
}

.description {
    padding-bottom: 20px;
    width: 100%;
    height: 25%;
}

.description .resumo {
    text-align: left;
    padding-left: 140px;
    font-family: "lora-regular", serif;
    font-size: 17px;
    color: #888888;
    margin-top: 52px;
}

.description img {
    height: 108px;
    width: 108px;
    border-radius: 50%;
    margin: 85px 0 0 0;
    float: left;
}

.profile {
    width: 50%;
    height: 100%;
    position: relative;
    text-align: left;
    max-width: 850px;
}

.profile h3 {
    font-family: "poppins-bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.profile .info-list {
    list-style: none;
    margin-left: 0;
}

.profile .info-list li strong {
    font-family: "poppins-bold", sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}

.profile .info-list li span {
    display: block;
    font-family: "poppins-regular", sans-serif;
    color: #888888;
    font-size: 15px;
}

.profile p {
    text-align: left;
    font-family: "lora-regular", serif;
    font-size: 15px;
    color: #888888;
}

.skills {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills p {
    text-align: left;
    font-family: "lora-regular", serif;
    font-size: 15px;
    color: #888888;
    margin-bottom: 100px;
}

.skills h3 {
    font-family: "poppins-bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Scroll Bar Personal*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
}


/*--------- COMEÇO CIRCULO ANIMADO PROGRESS-----------*/

.box {
    position: relative;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    bottom: 10%;
}

.box .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
}

.box .text h2 {
    font-size: 18px;
    letter-spacing: 1px;
}

.box .text small {
    font-size: 15px;
    display: block;
}

.circle {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points {
    width: 3px;
    height: 15px;
    background: #0007;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-80px);

}

.points.marked {
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

@keyframes glow {
    0% {
        background: #0007;
        box-shadow: none;
    }

    100% {
        background: var(--bgColor);
        box-shadow: 0 0 10px var(--bgColor);
    }
}

/*---------FIM CIRCULO ANIMADO PROGRESS-----------*/
.Button_Topo {
    background-color: #FFFFFF;
    position: fixed;
    bottom: 20px;
    right: -500px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Button_Topo img {
    width: 50px;
    height: 50px;
}

.show_button .Button_Topo {
    right: 20px;
}

h1 {
    font-size: 60px;
    color: #ce0707;
}

a {

    color: azure;
}

a:active,
a:hover {
    outline: 0;
    color: #ce0707;
}

/* Section Sobre Experiencia Trabalho */

.Resume_Timeline {
    width: 100%;
    height: 100%;
    color: #3a3a3a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    align-content: center;
    justify-items: center;
    border-style: solid;
    border-bottom: #3a3a3a;
    border-width: 1px;
    margin-top: 10%;
}

.resume_header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -15%;
}

.resume_header h2 {
    font-family: "poppins-bold", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ce0707;
    justify-content: center;
}

.TimeLine_Block {
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5%;
    bottom: 10%;
}

.Block {
    background-color: #FFFFFF;
    width: 90%;
    height: 49%;
}

.timeline-ico {
    height: 60.8px;
    width: 60.8px;
    background: #313131;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    left: 30%;
    top: 30px;
}


.TimeLine_Block::before {
    content: "";
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 35%;
    top: 5%;
}

.timeline-ico i {
    position: relative;
    justify-content: center;
    top: 18px;
}

.Educ_Timeline {
    width: 40%;
    height: 55%;
    position: relative;
    top: -45px;
    left: -5%;
}

.Educ_Content {

    width: 60%;
    height: 88%;
    position: relative;
    top: -200px;
    left: 40%;
}

.Educ_Timeline p {
    font-family: "poppins-regular", sans-serif;
    font-size: 18px;
    color: #888888;
}

.Educ_Timeline h3 {
    font-family: "poppins-regular", sans-serif;
    margin-bottom: 0;
    font-size: 18px;
    position: relative;

}

.Educ_Content h4 {
    font-family: "poppins-regular", sans-serif;
    font-size: 18px;
    color: #000;
}

.Educ_Content h4::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
}

.Educ_Content p {
    font-family: "poppins-regular", sans-serif;
    font-size: 15px;
    color: #000;
}

/* FIM DA SECTION DO TRABALHO*/
/* INICIO SECTION WORK RESUME */
.Work_Resume {
    width: 100%;
    height: 100%;
    color: #3a3a3a;
    border-style: solid;
    border-bottom: #3a3a3a;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
}

.workIntroh2h4 {
    width: 40%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
}

.workIntroh2h4 h2 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: red;
    font-size: 17px;
    font-family: "poppins-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workIntroh2h4 h4 {
    color: black;
    font-size: 27px;
    font-family: "poppins-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.workIntroh2h4 p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "lora-regular", serif;
    font-size: 15px;
    color: #888888;
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
    text-align: center;
}

.workImageBlock {
    width: 70%;
    height: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    background-color: red;
}

.image-wrap img {
    vertical-align: middle;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.modal {
    width: 30%;
    height: 73%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -40%;
    border-radius: 10px;
    display: none;
}

.modal h4 {
    color: black;
    font-size: 20px;
    font-family: "poppins-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.modal span {
    letter-spacing: 2px;
    font-family: "lora-regular", serif;
    font-size: 10px;
    color: #888888;
    text-align: center;
    display: flex;
}

.modal .btns {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 10px;
    margin-top: 10px;
}

.btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #504d4d;
    cursor: pointer;
    font-family: "poppins-bold", sans-serif;
    letter-spacing: 1px;
}


.btnOk {

    background-color: aqua !important;
}

.btnClose {
    background-color: brown !important;
}

.modal img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.active {
    display: list-item;
}

.active .modal {
    animation: modal .4s;
}

/* ------Animação Modal----------*/
@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* ------ FIM da Animação Modal----------*/

/* -----------------------Inicio Pre Loader da Chicara------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    /* cor do background que vai ocupar o body */
    z-index: 999;
    /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
    position: absolute;
    top: 50%;
    /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);
}

svg.tea {
    --secondary: #ce0707;
}

svg.tea #teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2s infinite;
}

svg.tea #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
}

svg.tea #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
}

@-moz-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-o-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-moz-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }

    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-webkit-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }

    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-o-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }

    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }

    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-moz-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }

    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-webkit-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }

    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-o-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }

    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }

    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

/*------------------------ Fim Pre Loader da Chicara--------------------------*/

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    color: aliceblue;
}

html {
    scroll-behavior: smooth;
}

/*-------------------  FONTS DO SITE ----------------------------*/
@font-face {
    font-family: 'StarWars';
    src: url('/fonts/star-wars/SF\ Distant\ Galaxy\ AltOutline.ttf') format('truetype');
}

@font-face {
    font-family: 'TitilliumWeb';
    src: url('/fonts/Titillium_Web/TitilliumWeb-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TitilliumWebItalic';
    src: url('/fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('/fonts/poppins/poppins-bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'lora-regular';
    src: url('/fonts/lora/lora-regular-webfont.ttf') format('truetype');
}